name: Sync Template Updates

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0' # 每周日UTC时间0点运行

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT_TOKEN }}

      - name: Synchronize template
        uses: AndreasAugustin/actions-template-sync@v2.5.2
        with:
          # 源仓库路径（格式：owner/repo）
          source_repo_path: "sansan0/TrendRadar"
          
          # 源仓库的分支
          upstream_branch: "master"
          
          # 【修正】令牌参数名
          source_gh_token: ${{ secrets.PAT_TOKEN }}

          pr_labels: ""
      
